<div>
  <div>
    {{currentFile | track_title }}
  </div>
  <div *ngIf="totalTime">
   
    <progressbar 
    #draggable
    (mousedown)="seekStart($event)"
    (mouseup)="seekEnd($event)"
    class="progress progress-success" [value]="elapsedPercentage" [max]="100" type="success" >
      <b style="color: #000">
          {{ elapsedTime | playback_time }} /  {{ totalTime | playback_time }}
      </b>
    </progressbar>
  </div>
  <div>
    <button (click)="play()">Play</button>
    <button (click)="pause()">Pause</button>
    <button (click)="stop()">Stop</button>
  </div>
  <div>
    <button (click)="previous()">Previous</button>
    <button (click)="next()">Next</button>
  </div>
</div>