<div class="playlists">
  <tabset class="pull-left">
    <tab (select)="switchMode()">
      <ng-template tabHeading>Local</ng-template>
    </tab>
    <tab (select)="switchMode()">
      <ng-template tabHeading>Server</ng-template>
    </tab>
  </tabset>
  <button class="pull-right btn btn-default" (click)="newPlaylist()">
    <i class="fa fa-plus"></i>
  </button>
  
  <div>

    <table class="table">
      <tbody>
        <tr *ngFor="let p of playlists; let i = index;">
          <td (click)="selectPlaylist(p)">
            {{p.title}}
          </td>
          <td>
            <button class="btn btn-default" (click)="deletePlaylist(i)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div>
    <playlist></playlist>
  </div>
</div>