<div *ngIf="playlist && playlist.items.length">
  <div>
    <button (click)="play()">Play</button>
    <button (click)="savePlaylist()">Save</button>
  </div>
  <div>
    <input type="text" [(ngModel)]="this.playlist.title" /> 
  </div>
  <table>
    <tbody>
      <tr *ngFor="let item of playlist.items; let i = index;">
        <td>
          {{item.file | track_title}}
        </td>
        <td>
          <button (click)="delete(i)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>